


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }
  
  .box {
    flex:  0 23%;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid rgb(42, 108, 239);
    text-align: center;
    border-radius: 20px;
  }
  

header {

    text-align: center;
    margin-bottom: 4%;
    margin-top: 5%;
}
.name {



    background-color: rgb(81, 94, 186);
    border: 2px solid rgb(42, 108, 239);
    font-size: large;
    width: 80%;   
    color: #ffffff;
    height: 20px; 
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

.top {
color: #ffffff;
background-color: rgb(7, 74, 209);
border: 1px solid #ccc;
padding: 10px;
border-radius: 20px;
}


  .box img {
    width: 100%; /* Make the image fill the box width */
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover;
    border-radius: 4px;


} /* Ensures the image scales without distortion */