@font-face {
    font-family: robotoC;
    src: url(./fonts/Roboto-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 18% 82%;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
    font-family: robotoC;
}

.header{    
    grid-area: header;
}

.sidebar{
    background-color: #1992d4;
    grid-area: sidebar;
    padding: 15px;
    .logo{
        margin-left: 5px;
        display: flex;
        align-items: center;
        > p{
            margin-left: 10px;
            font-size: 25px;
            font-weight: 900;
            color: white;
        }
    }
}

.guides{
    padding-left: 10px;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 40px;
    & img{
        width: 25px;
        align-self: center;
    }
    > a{
        font-weight: 500;
        justify-self: left;
        align-self: center;
        color: white;
        font-size: 18px;
    }
}

.guide1{
    grid-template-rows: repeat(6, 25px);
}   

.guide2{
    grid-template-rows: repeat(3, 25px);
}   

.header{
    display: flex;
    flex-direction: column;
}














.content{
    background-color: #e2e8f0;
    grid-area: main;
}

a{
    text-decoration: none;
}