@font-face {
    font-family: robotoC;
    src: url(./fonts/Roboto-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20% auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
    font-family: robotoC;
}

.header{    
    grid-area: header;
}

.sidebar{
    background-color: #1992d4;
    grid-area: sidebar;
    padding: 15px;
    z-index: 2;

    .logo{

        margin-left: 5px;
        display: flex;
        align-items: center;

        > p{
            margin-left: 10px;
            font-size: 25px;
            font-weight: 900;
            color: white;
        }
    }
}

.guides{
    padding-left: 10px;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 40px;

    & img{
        width: 25px;
        align-self: center;
    }

    > a{
        font-weight: 500;
        justify-self: left;
        align-self: center;
        color: white;
        font-size: 18px;
    }
}

.guide1{
    grid-template-rows: repeat(6, 25px);
}   

.guide2{
    grid-template-rows: repeat(3, 25px);
}   

.header{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.23) 0 0 15px;
    z-index: 1;

    .header-search{
        display: flex;
        align-items: center;
        padding: 10px 50px 0px 50px;

        input{
            font-family: inherit;
            margin-right: auto;
            border: none;
            background-color: #e2e8f0;
            width: 600px;
            border-radius: 20px;
            height: 30px;
            padding: 0 20px;
        }

        img{
            width: 25px;
            margin-right: 20px;
        }

         img+img{
            width: 50px;
        }

        p{
            font-weight: 700;
            font-size: 18px;
        }
    }
    .header-info{
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding: 0 45px;
        font-weight: 800;
    
        img{
            width: 60px;
            margin-right: 20px;
        }

        .intro{
            margin-right: auto;
            p+p{
                font-size: 20px;
            }
        }

        button{
            background-color: #1992d4;
            width: 80px;
            height: 34px;
            border: none;
            border-radius: 20px;
            color: white;
            margin-left: 15px;
        }
    }
}

.content{
    display: flex;
    background-color: #e2e8f0;
    grid-area: main;
    .projects-p{
        padding: 30px;
        >p{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 800
        }
        .projects{
            display: grid;
            grid-template-columns: repeat(2, 400px);
            grid-template-rows: repeat(3, 200px);
            gap: 20px;
            .projectbox{
                background-color: white;
                border-radius: 15px;
                padding: 30px;
                p:first-child{
                    font-size: large;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                p+p{
                    font-size: 15px;
                    color:#5e5e5e;
                    margin-bottom: 15px;
                }
                .boxbuttons{
                    display: flex;
                    justify-content: flex-end;
                    img{
                    width: 22px;
                    margin-left: 20px;
                    }
                }
            }
        }
    }
    .announcements-p{
        margin-top: 30px;
        margin-right: 30px;
        width: 300px;
        >p{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 800
        }
        .announcements{
            background-color: white;
            padding: 30px 30px 10px 30px;
            border-radius: 15px;
            display: grid;
            grid-template-rows: repeat(3, 120px);
            >div{
                p+p{
                    font-size: 14px;
                    color:#5e5e5e;
                }
                p:first-child{
                    font-size: 14px;
                    font-weight: 800;
                    margin-bottom: 7px;
                }
            }
        }
    }

    .trending-p{
        margin-top: 40px;
        width: 300px;
        >p{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 800
        }
        .trending{
            background-color: white;
            padding: 30px;
            border-radius: 15px;
            img{
                width: 50px;
            }
            .profiles{
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                font-size: 14px;
                div{
                    margin-left: 20px;
                    p:first-child{
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    p+p{
                        color:#5e5e5e;
                    }
                }
            }
        }
    }
}











a{
    text-decoration: none;
}