
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 18% 82%;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
}

.header{
    grid-area: header;
}

.sidebar{
    background-color: #1992d4;
    grid-area: sidebar;
}

.content{
    background-color: #e2e8f0;
    grid-area: main;
}

